/* colors */

.purple {
  background: #4b0082;
}

/* background-img */

body {
  background-image: url('images/background-img.jpg');
  background-repeat: repeat;
  background-color: #cccccc;
}

/* home */

a {
  font-size: 1.5rem;
  color: #fff;
}

.hero-name {
  font: 5em raleway;
  font-size: 5rem;
  margin-top: 150px;
}

.about {
  font-size: 1.5rem;
}

/* about */

.home-icons {
  font-size: 6rem;
  color: #4b0082;
}

.tools {
  font-size: 3rem;
}

hr {
  border: 1px solid #4b0082;
  margin-top: 150px;
  margin-bottom: 150px;
}

li :hover {
  color: #000;
  background: #fff;
  border-radius: 5%;
}

/* projects */

h2 {
  font-size: 3rem;
}

.images {
  list-style-type: none;
}

.card {
  border: 5px solid #000;
}

.btn {
  background: #9356bf;
  color: #fff;
}

.btn :hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}
