/* colors */

.purple {
  background: #4b0082;
}

.pink {
  background: rgb(203, 183, 218);
}

/* html  */

html {
  scroll-behavior: smooth;
}

/* background-img */

body {
  position: relative;
  background-image: url('images/background-img.jpg');
  background-repeat: repeat;
  background-color: #cccccc;
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

/* home */

#nav-icon {
  font-size: 3rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #nav-icon {
    font-size: 2.5rem;
  }
}

a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

a:hover {
  font-size: 1.5rem;
  background: #cfabe8;
  font-weight: bold;
}

.hero-name {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  margin-top: 150px;
  text-shadow: 1px 3px 8px rgba(70, 70, 70, 0.5);
}

.hero-h3 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 3px 8px rgba(70, 70, 70, 0.5);
}

/* about */

.about {
  font-size: 1.5rem;
}

.about-icons {
  font-size: 5rem;
  color: #4b0082;
}

@media screen and (max-width: 390px) {
  .about {
    display: block;
  }
}

.spin-icons:hover .about-icons {
  color: #a866ff;
  transition: 0.9s;
  transform: rotateY(360deg);
}
.spin-icons {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .about-icons {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 375px) {
  .about-icons {
    font-size: 3rem;
  }
}

.tools {
  font-size: 4rem;
}

hr {
  border: 1px solid #a866ff;
  margin-top: 50px;
  margin-bottom: 50px;
}

li :hover {
  color: #000;
  background: #fff;
  border-radius: 5%;
}

/* projects */

p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4rem;
  text-shadow: 1px 3px 8px rgba(70, 70, 70, 0.5);
}
h3 {
  font-size: 3rem;
}

.images {
  list-style-type: none;
}

.card {
  border: 8px solid #a866ff;
}

.btn-modal {
  text-decoration: none;
}

.projects-btn {
  width: 10rem;
  border: 3px solid #a866ff;
  background-color: #a866ff;
  color: #fff;
}

.projects-btn:hover {
  width: 10rem;
  background-color: #fff;
  color: #a866ff;
  border: 3px solid #a866ff;
}

@media only screen and (max-width: 360px) {
  .projects-btn {
    display: block;
    margin-bottom: 2rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 360px) {
  #projects-btn1 {
    margin-bottom: 2rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 360px) {
  #projects-btn2 {
    margin-bottom: 2rem;
    width: 10rem;
  }
}

/* contact */

form {
  border: 8px solid #a866ff;
}

.form-button {
  border: 3px solid #fff;
  background-color: #fff;
  color: #a866ff;
  font-size: 1.5rem;
}

.form-button:hover {
  background-color: #a866ff;
  color: #fff;
  border: 3px solid #fff;
  font-size: 1.5rem;
}

@media only screen and (max-width: 375px) {
  .form-button {
    font-size: 1rem;
    width: 40px;
  }
}

/* footer icons */

.footer-icons > a {
  color: #4b0082;
  font-size: 3.5rem;
  border-radius: 50%;
  border: 8px solid #fff;
}

.footer-icons > a:hover {
  background: #fff;
  color: #a866ff;
  border-radius: 50%;
}

.footer-email {
  display: none;
}
