/* colors */

.purple {
  background: #4b0082;
}

/* background-img */

body {
  position: relative;
  background-image: url('images/background-img.jpg');
  background-repeat: repeat;
  background-color: #cccccc;
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

/* home */

a {
  font-size: 1.5rem;
  color: #fff;
}

.hero-name {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  margin-top: 150px;
}

.hero-h3 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}

.about {
  font-size: 1.5rem;
}

/* about */

.home-icons {
  font-size: 6rem;
  color: #4b0082;
}

.tools {
  font-size: 3rem;
}

hr {
  border: 1px solid #4b0082;
  margin-top: 150px;
  margin-bottom: 150px;
}

li :hover {
  color: #000;
  background: #fff;
  border-radius: 5%;
}

/* projects */

p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

.images {
  list-style-type: none;
}

.card {
  border: 5px solid #9356bf;
}

.projects-btn {
  border: 3px solid #000;
  background-color: #9356bf;
  color: #fff;
}

.projects-btn:hover {
  background-color: #fff !important ;
  color: #9356bf !important ;
  border: 3px solid #9356bf;
}

/* contact */

.footer-icons > a {
  color: #4b0082;
  font-size: 4rem;
}

.form-button {
  font-weight: bold;
  color: #fff;
  background: #4b0082;
  border: 3px solid #000;
  font-size: 1.5rem;
}

.form-button:hover {
  color: #4b0082;
  background: #fff;
  border: 3px solid #9356bf;
  font-size: 1.5rem;
}

form {
  border: 5px solid #9356bf;
}

.footer-icons > a {
  border-radius: 50%;
  border: 6px solid #fff;
}

.footer-icons > a:hover {
  background: #9356bf;
  color: #fff;
  border-radius: 50%;
  border: 6px solid #9356bf;
}
